.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea
*.iml
/.idea/compiler.xml
/.idea/dictionaries/relex.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
sample.iml
/photodraweeview/photodraweeview.iml
